body {
    font-family: 'Jost', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

a {
    background-color: rgb(245, 95, 95);
    text-decoration: none;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    border-radius: 5px;

}

.image {
    position: relative;
    text-align: center;
}

.header {
    position: absolute;
    bottom: 70%;
    color: yellow;
    font-size: 30px;

}

.some-text {
    position: absolute;
    bottom: 60%;
    color: white;
    font-size: 17px;
}

.link-button {
    position: absolute;
    bottom: 55%;
    text-align: end;
    padding-left: 20%;
}

.need {

    font-size: 20px;
    margin-left: 40%;
    margin-right: 35%;
    margin-top: 10%;

}

.specifications {
    text-align: center;
    color: rgba(83, 80, 80, 0.865);

}

.box {
    width: 5%;
    box-shadow: 10px 10px 15px gray;
    padding: 3%;
    font-size: 20px;


}

.middle {
    display: flex;
    width: 100%;
    margin-left: 22%;
    margin-right: 7%;


}

.taka {
    text-align: center;
    margin-top: 6%;
    margin-left: 22%;
    margin-right: 23%;

}

.donate {
    text-align: center;
    margin-top: 2%;
}

.plans {
    background-color: rgba(244, 243, 188, 0.362);
    margin-bottom: 5%;
    margin-left: 2%;

    padding: 20px 10px 10px 5px;

}

.plans-two {
    background-color: rgb(243, 246, 250);
    margin-bottom: 5%;
    margin-left: 2%;
    marg padding: 20px 10px 10px 10px;
}

.plans-three {
    background-color: rgba(232, 226, 217, 0.404);
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 0;

    padding: 20px 10px 10px 10px;
}

.display {
    display: flex;

}